@{
    ViewBag.Title = "Xóa thành công";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}

<h2>Xóa thành công</h2>
<p>Xóa thể loại thành công</p>
<p>
    Nhấn @Html.ActionLink("ở đây", "Index")
    để trở về trang chủ.
 </p>

