@model MusicStore.Models.CHITIETALBUM
@{
    ViewBag.Title = "Xóa thành công";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}

<h2>Xóa thành công</h2>
<p>Đã xóa thành công Album.</p>
<p>
    Nhấn @Html.ActionLink("ở đây ", "Detail/", new { id = @Model.MaAlbum })để trở về trang chi tiết của Album @Model.ALBUM.TenAlbum.
 </p>

