@{
    ViewBag.Title = "Xóa thành công bài hát khỏi Album";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}

<h2>Xóa thành công bài hát ra khỏi Album</h2>
<p>Đã xóa thành công bài hát ra khỏi Album.</p>
<p>
    Nhấn @Html.ActionLink("ở đây ", "Index")để trở về trang quản lí Album.
 </p>


