@model MusicStore.Models.CHITIETALBUM
@{
    ViewBag.Title = "Xóa bài hát khỏi Album";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}
<h2>
    Xóa bài hát khỏi Album</h2>
<h3>
    Bạn có chắc là muốn xóa bài hát này ra khỏi Album</h3>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Đồng ý" />
    </p>
    <p class="goback">
        @Html.ActionLink("<<Quay lại", "Detail/", new { id = @Model.MaAlbum })
    </p>
}
