/* CSS Document */
*{
	margin:0;
	padding:0;
}
body{
	background:#000000 url(../images/bg.jpg) no-repeat center top;
	background-attachment:fixed;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}
img{
	border:0;
}
input#Link_nh_c
{
    width:300px;
}
object.embed{
	margin-left:-3px;
	z-index:0;
	border:0;
}

/* Dinh dang cac the */
h1{
	color:#930;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	height:40px;
	background:url(../images/line.jpg) no-repeat center bottom;
}
span{
	cursor:pointer;
}
span:hover{
	color:#930;
	padding-left:10px;
	background:url(../images/bullet-list.gif) no-repeat left;
}
a{
	text-decoration:none;
	color:#930;
	border:0;
}
a:hover{
	color:#990;
}
ul{
	display:inline;
	list-style-type:none;
}
img{
	border:0;
}
/* Logo */
#wrapper{
	background:#FFF;
	width:1000px;
	margin:auto;
}
/* Header */
#header{
	height:33px;
	background:url(../images/bg_header.jpg);
	margin-left:1px;
	color:#F00;
}
#header a{
	color:#F00;
	vertical-align:middle;
}
#header img{
	padding-right:5px;
}
/* Banner */
#banner{
	height:200px;
	background:#000 url(../images/banner.jpg) no-repeat center;
}
/* Logo */
#logo{
	width:350px;
	height:192px;
	float:left;
	z-index:1;
}
#slide{
	width:650px;
	height:192px;
	float:right;
	z-index:0;
}
/* Topmenu */
#topmenu{
	padding-top:12px;
	height:24px;
	background:url(../images/topmenu_bg.jpg);
	clear:both;
}
#topmenu ul{
}
#topmenu ul li{
	text-align:center;
	display:inline;
}
#topmenu ul li a{	
	background: url(../images/border.jpg) no-repeat left bottom;
	color:#FFF;
	font-weight:bold;	
	padding-right:15px;
	padding-left:15px;
	padding-top:12px;
	padding-bottom:9px;
	margin-right:-3px;
}
#topmenu ul li a:hover{	
	color:#333;
	background:url(../images/menu_a.jpg) no-repeat left;
}
#topmenu ul li a:focus{	
	color:#333;
	background:url(../images/menu_a.jpg) no-repeat left;
}

/* Ngay thang */
#ngay{
	width:220px;
	float:left;
	padding:0px 10px 0px 10px;
	color:#FFF;
	text-align:center;
}
/* Column left */
#column_left{
	width:218px;
	float:left;
	margin:10px;
}
#modules_left{
}
#modules_left #left_title{
	width:208px;
	height:15px;
	background:url(../images/left_title.jpg);
	text-align:center;
	padding:5px;
	color:#FFF;
	font-weight:bold;
}
#modules_left #left_content{
	background:url(../images/left_content.jpg);
	line-height:18px;
	padding:10px;
}
.selected{
	background-color:#EFEFEF;
}
#modules_left #left_content span{
	padding-left:5px;
}
#modules_left #left_content span:hover{
	padding-left:10px;
}
#modules_left #left_content ul{
	list-style-image:url(../images/bullet-list.gif);
}
#modules_left #left_content ul li{
	margin-left:25px;
}

#modules_left #left_bottom{
	background:url(../images/left_bottom.jpg);
	height:9px;
	margin-bottom:10px;
}
/* Container */
#container{
	width:540px;
	float:left;
	margin-top:10px;
}
#container #c_title_l{
	background:url(../images/content.jpg) left top;
	height:5px;
	width:5px;
	float:left;
}
#container #c_title{
	background:url(../images/content_top.jpg);
	height:4px;
	float:left;
	width:530px;
	border-top:1px solid #dddddd;
}
#container #c_title_r{
	background:url(../images/content.jpg) right top;
	height:5px;
	float:right;
	width:5px;
}
#container #c_content{
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
	padding:10px;
	text-align:justify;
}

#container #c_bottom_l{
	background:url(../images/content.jpg) left bottom;
	height:5px;
	width:5px;
	float:left;
}
#container #c_bottom{
	background:url(../images/content_top.jpg);
	height:4px;
	float:left;
	width:530px;
	border-bottom:1px solid #dddddd;
}
#container #c_bottom_r{
	background:url(../images/content.jpg) right bottom;
	height:5px;
	float:right;
	width:5px;
}

/* Column right */
#column_right{
	width:195px;
	float:right;
	margin:10px;
}
#modules_right{
}
#modules_right #right_title{
	background:url(../images/right_title.jpg) no-repeat;
	color:#930;
	text-align:center;
	font-weight:bold;
	padding:5px;
	height:20px;
}
#modules_right #right_notitle{
	background:url(../images/right_title.jpg) no-repeat;
	color:#930;
	text-align:center;
	font-weight:bold;
	padding:5px;
}

#modules_right #right_content{
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
	padding:10px 10px 10px 25px;
}
#modules_right #right_content ul{
	list-style-image:url(../images/bullet-list.gif);
}
#modules_right #right_content ul li{
}
#modules_right #right_content img{
	border:1px solid #efefef;
	padding:3px;
	margin:5px;
}
#modules_right #right_bottom{
	height:6px;
	background:url(../images/right_bottom.jpg);
	clear:both;
	margin-bottom:10px;
}
/* Footer */
#footer{
	background:url(../images/footer.jpg) repeat-x top;
	height:50px;
	clear:both;
}
#footer p.f1{
	padding-top:10px;
	text-align:center;
	color:#930;
	font-weight:bold;
	font-size:13px;
}
#footer p.f2{
	text-align:center;
	font-weight:bold;
	color:#930;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
}
#footer p.copyright{
	padding:20px 0px;
	background-color:#000000;
	color:#FFF;
	text-align:center;
}
