@model MusicStore.Models.COMMENT

@{
    ViewBag.Title = "Xóa thành công";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}

<h2>Xóa thành công</h2>

<p>
    Comment này đã được xóa!</p>
<p>
    Nhấn @Html.ActionLink("Ở đây", "Index") để quay về trang quản lí comment.
</p>