@model MusicStore.Models.CASI

@{
    ViewBag.Title = "Xóa ca sĩ | " + @Model.TenCaSi;
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}

<h2>Xóa ca sĩ</h2>

<h3>Bạn có chắc muốn xóa ca sĩ với tên là <em>@Model.TenCaSi</em></h3>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Xóa" />
    </p>
    <p class="goback">
        @Html.ActionLink("<<Quay lại", "Index")
    </p>
}


