@model MusicStore.Models.NHACSI
@{
    ViewBag.Title = "Xóa nhạc sĩ | " + @Model.TenNhacSi;
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}
<h2>
    Xóa nhạc sĩ</h2>
<h3>
    Bạn có chắc muốn xóa nhạc sĩ với tên <em>@Model.TenNhacSi</em></h3>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Xóa" />
    </p>
    <p class="goback">
        @Html.ActionLink("<<Quay lại", "Index")
    </p>
}
