/* CSS Document */
/* Dinh dang toan than */
*{
	margin:0;
	padding:0;
	border:0;
}
/* Dinh dang cac the */
a{
	color:#63F;
	text-decoration:none;
}
a:hover{
	color:#F0F;
}
/* Body */
body{
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-size:12px;
}
/* All */
#all{
	width:100%;
	background-color:#000;
}
#back{
	width:100%;
	background:url(../../../images/bg.jpg) no-repeat center 148px;
	margin:auto;
}
#header-outer{
	height:148px;
	background:url(../../../images/banner.jpg) no-repeat center;
}
#header{
	width:1000px;
	margin:auto;
}
#logo{
	width:181px;
	height:148px;
	background:url(../../../images/logo.png) no-repeat center;
}
#banner{
}
#menu-top{
	clear:both;
	height:30px;
	background-color:#efefef;
}
#contentarea{
	margin:auto;
	width:970px;
	background-color:#FFF;
}
#left{
	float:left;
	width:170px;
}
#mod-left{
}
#m-l-title{
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	border-bottom:1px solid #efefef;
	padding:10px;
	text-align:center;
	font-weight:bold;
}
#m-l-content{
	padding:5px;
}
#wrapper{
	float:left;
	width:600px;	
}
#main{
	border:1px solid #ddd;
	margin:5px;
}
#m-c-title{
	height:26px;
	background:url(../../../images/menu-bg.jpg);
	border-bottom:1px solid #ddd;
}
#m-c-content{
}
#right{
	float:right;
	width:200px;
}
/* Modules right */
#mod-right{
	border:1px solid #ddd;
	margin:5px;
}
#m-r-title{
	height:26px;
	background:url(../../../images/menu-bg.jpg);
	border-bottom:1px solid #ddd;
}
#m-r-content{
}
/* Footer */
#footer-outer{
	clear:both;
	height:50px;
	background-color:#efefef;
}
#footer-sub{
}
#footer{
	color:#000;
	padding-top:15px;
	text-align:center;
	font-weight:bold;
}

