@{
    ViewBag.Title = "Lỗi đăng nhập";
    Layout = "~/Views/Shared/LayoutUser/_Layout.cshtml";
}

<h2>Đăng nhập thất bại</h2>

<p>Tài khoản không tồn tại.
Hoặc sai tên đăng nhập hoặc mật khẩu không chính xác</p>