@model MusicStore.Models.BAIHAT
@{
    ViewBag.Title = "Xóa thành công";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}
<h2>
    Xóa thành công</h2>
<p>
    Bài hát đã được xóa tạm thời. Bài hát này sẽ không còn được xuất hiện trên trang
    chủ</p>
<p>
    Nhấn @Html.ActionLink("Ở đây", "Index") để quay về trang quản lí bài hát.
</p>
