@model IEnumerable<MusicStore.Models.BAIHAT>
@{
    ViewBag.Title = "Danh sách bài hát chờ";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
    var grid = new WebGrid(source: Model, canSort: true, canPage: true, rowsPerPage: 10);
}
@grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "paging-number",
    alternatingRowStyle: "webgrid-alternatingRow",
    rowStyle: "webgrid-row",
    columns: grid.Columns(
        grid.Column("TenBaiHat", "Tên bài hát"),
        grid.Column("MaNhacSi", "Mã nhạc sĩ"),
        grid.Column("MaCaSiTrinhBay", "Mã ca sĩ trình bày"),
        grid.Column("MaTheLoai", "Mã thể loại"),
        grid.Column("MaChatLuongAmThanh", "Mã chất lượng âm thanh"),
        grid.Column("NgayTiepNhan", "Ngày tiếp nhận"),
        grid.Column(
            header: "",
            style: "",
            format: (item) => new HtmlString(Html.ActionLink("Nhận", "Accept", new { id = item.MaBaiHat }).ToString() + " | " +
                                             Html.ActionLink("Xóa", "Delete", new { id = item.MaBaiHat }).ToString())
        )
        )
)
@{
    if (!string.IsNullOrWhiteSpace(grid.SortColumn))
    {
    <script type="text/javascript">
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "^" : "v")');
    </script>
    }
}
<p class="sum">
    Tổng số bài hát đang chờ hiện tại:<em> @Html.Encode(grid.TotalRowCount)</em></p>
