@{
    ViewBag.Title = "Xóa thành công";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}
<h2>
    Xóa nhạc sĩ</h2>
<p>
    Xóa nhạc sĩ thành công</p>
<p>
    Nhấn @Html.ActionLink("Ở đây", "Index")
    để quay về trang quản lí nhạc sĩ.
</p>
