@model IEnumerable<MusicStore.Models.THELOAI>
<ul>
    @foreach (var item in Model)
    {
        <li><a href="@Url.Action("../BaiHat/BaiHatTheoTheLoai", new { id = item.MaTheLoai })">@item.TenTheLoai</a></li>
    }
</ul>
