@{
    ViewBag.Title = "Lỗi!";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}

<h2>Lỗi!</h2>
<p>Bài hát này đã tồn tại trong Album.</p>
<div class="goback">
    @Html.ActionLink("<<Quay lại", "AddSong")
</div>

