@model IEnumerable<MusicStore.Models.BAIHAT>

<ul>
@foreach (var item in @Model)
{
    <li><a href="@Url.Action("../BaiHat/ListBaiHat", new { id = item.MaBaiHat })">@item.TenBaiHat</a></li>
}    
</ul>