@model IEnumerable<MusicStore.Models.BAIHAT>

@{
    ViewBag.Title = "Bài hát theo thể loại";
    Layout = "~/Views/Shared/LayoutUser/_Layout.cshtml";
}

<h2>Bài hát theo thể loại</h2>

<h2>
    Danh sách bài hát</h2>
<ul>
    @foreach (var bh in Model)
    {
        <li>@bh.TenBaiHat<b style="text-align: right">@bh.SoLuongNghe</b>
            @bh.CASI.TenCaSi ---- @bh.NHACSI.TenNhacSi</li>
    }
</ul>
