@model IEnumerable<MusicStore.Models.BAIHAT>

@{
    ViewBag.Title = "BrowCaSi";
}

<h2>BrowCaSi</h2>

<table>
@foreach (var item in Model) {
    <tr>
        <td>
            <div>
                <h2>
                    <a href="/BaiHat/Detail/@item.MaBaiHat">
                        @item.TenBaiHat
                    </a>
                </h2>
                <h3>@item.CASI.TenCaSi</h3>
                <hr />
            </div>
        </td>
    </tr>
}
</table>

