@model MusicStore.Models.BAIHAT
@{
    ViewBag.Title = "Detail";
}
<h2>@Model.TenBaiHat</h2>
<script type="text/javascript" src="/Scripts/jwplayer.js"></script>
<script type="text/javascript" src="/Scripts/swfobject.js"></script>
<div style="text-align:center">
<object id="player" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" name="player" width="328" height="200"> 
		<param name="movie" value="/Content/StyleUser/Images/player.swf" /> 
		<param name="allowfullscreen" value="true" /> 
		<param name="allowscriptaccess" value="always" />
        <param name="autoplay" value="true" /> 
		<param name="flashvars" value="file=/MusicFiles/@Model.LinkDownload&image=preview.jpg" /> 
		<embed 
			type="application/x-shockwave-flash"
			id="player2"
			name="player2"
			src="/Content/StyleUser/Images/player.swf" 
			width="328" 
			height="200"
			allowscriptaccess="always" 
			allowfullscreen="true"
            autoplay="true"
			flashvars="file=/MusicFiles/@Model.LinkDownload&image=preview.jpg" 
		/> 
</object> 
</div>