@model IEnumerable<MusicStore.Models.BAIHAT>
@{
    ViewBag.Title = "Playlist";
}
<h2>
    Bạn đang nghe nhạc tại HPT</h2>
@{
    System.Xml.XmlTextWriter listbank = null;
    listbank = new System.Xml.XmlTextWriter(Server.MapPath("~\\XMLFiles\\playlist.xml"), null);

    try
    {
        listbank.Formatting = System.Xml.Formatting.Indented;
        listbank.Indentation = 6;
        listbank.Namespaces = false;
        listbank.WriteStartDocument();
        listbank.WriteStartElement("", "playlist", "");
        listbank.WriteStartElement("", "tracklist", "");

        foreach (var item in Model)
        {
            listbank.WriteStartElement("", "track", "");
            listbank.WriteStartElement("", "title", "");
            listbank.WriteString(@item.TenBaiHat);
            listbank.WriteEndElement();

            listbank.WriteStartElement("", "location", "");
            listbank.WriteString("/MusicFiles/" + item.LinkDownload);
            listbank.WriteEndElement();
            listbank.WriteEndElement();
        }
        listbank.WriteEndElement();
        listbank.WriteEndElement();
        listbank.Flush();
    }
    catch (Exception e)
    {
        Console.WriteLine("Exception: {0}", e.ToString());
    }
    finally
    {
        if (listbank != null)
        {
            listbank.Close();
        }
    }
            
}
<script type="text/javascript" src="/Plugins/MediaPlayer/swfobject.js"></script>
<script type="text/javascript" src="/Plugins/MediaPlayer/jwplayer.js"></script>
<div style="text-align: center">
    <object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' width='470' height='470'
        id='single1' name='single1'>
        <param name='movie' value='/Plugins/MediaPlayer/player.swf'>
        <param name='allowfullscreen' value='true'>
        <param name='allowscriptaccess' value='always'>
        <param name='wmode' value='transparent'>
        <param name='flashvars' value='playlistfile=/XMLFiles/playlist.xml&backcolor=000000&frontcolor=FFFFFF&playlist=bottom&autostart=true&repeat=list'>
        <embed type='application/x-shockwave-flash' id='single2' name='single2' src='/Plugins/MediaPlayer/player.swf'
            width='470' height='470' bgcolor='undefined' allowscriptaccess='always' allowfullscreen='true'
            wmode='transparent' flashvars='playlistfile=/XMLFiles/playlist.xml&backcolor=000000&frontcolor=FFFFFF&playlist=bottom&autostart=true&repeat=list' />
    </object>
</div>
