@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}
<h2>
    Thông kế tình hình trang nhạc HPT</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <div class="editor-label">
            Số lượng bài hát: <em class="var">@Html.Encode(ViewBag.slbh)</em>
        </div>
        <div class="editor-label">
            Bài hát mới nhất: <em class="var">@Html.Encode(ViewBag.bhm)</em>
        </div>
        <div class="editor-label">
            Hiện có: <em class="var">@Html.Encode(ViewBag.stbhc)</em> đang chờ được duyệt.
        </div>
        <div class="editor-label">
            Hiện có: <em class="var">@Html.Encode(ViewBag.ban)</em> tài khoản bị ban.
        </div>
    </fieldset>
}