@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/LayoutUser/_Layout.cshtml";
}
<h2>
    Kết quả tìm kiếm</h2>
<ul>
    @foreach (var bh in ViewBag.kqTimKiem)
    {
        <div style="border-bottom: 1px solid #efefef; padding: 3px;">
            <li><a href="@Url.Action("../BaiHat/Detail", new { id = bh.MaBaiHat })">@bh.TenBaiHat</a></li>
        </div>
    }
</ul>
