@model MusicStore.Models.BAIHAT

@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/LayoutUser/_Layout.cshtml";
}

<h2>Tìm kiếm bài hát</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Thông tin cần tìm</legend>
        <div class="editor-label">
            Bài hát: @Html.TextBoxFor(model => model.TenBaiHat)
        </div>
        <div class="editor-label">
            Ca sĩ: @Html.TextBoxFor(model => model.CASI.TenCaSi)
        </div>
        <div class="editor-label">
        Người đăng:
        </div>
        <div class="editor-label">
            Chất lượng:@Html.DropDownList("MaChatLuongAmThanh", new SelectList(ViewBag.ChatLuong as System.Collections.IEnumerable, "MaChatLuongAmThanh", "TenChatLuongAmThanh", Model.MaChatLuongAmThanh), "Tất cả")
        </div>
        <div class="editor-label">
            Thể loại: @Html.DropDownList("MaTheLoai", new SelectList(ViewBag.TheLoai as System.Collections.IEnumerable, "MaTheLoai", "TenTheLoai", Model.MaTheLoai), "Tất cả các thể loại")
        </div>
        <div class="editor-label">
        Sắp xếp:
        </div>
        <div class="editor-label">
        Thứ tự:
        </div>
        <p>
            <input type="submit" value="Tìm kiếm" />
        </p>
    </fieldset>
}
