@model IEnumerable<MusicStore.Models.THELOAI>
@{
    ViewBag.Title = "Quản lí thể loại bài hát";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
    var grid = new WebGrid(source: Model, canSort: true, canPage: true, rowsPerPage: 10);
}
<h2>
    Quản lí thể loại bài hát</h2>
<p>
    @Html.ActionLink("Thêm thể loại bài hát", "Create")
</p>
@grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "paging-number",
    alternatingRowStyle: "webgrid-alternatingRow",
    rowStyle: "webgrid-row",
    columns: grid.Columns(
        grid.Column("TenTheLoai", "Tên thể loại"),
        grid.Column("MaTinhTrangTheLoai", "Mã tình trạng thể loại"),
        grid.Column(
            header: "",
            style: "",
            format: (item) => new HtmlString(Html.ActionLink("Sửa", "Edit", new { id = item.MaTheLoai }).ToString() + " | " +
                                             Html.ActionLink("Xóa", "Delete", new { id = item.MaTheLoai }).ToString())
        )
    )
)
@{
    if (!string.IsNullOrWhiteSpace(grid.SortColumn))
    {
    <script type="text/javascript">
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "^" : "v")');
    </script>
    }
}
<p class="var">
    Tổng số thể loại nhạc hiện tại: <em>@Html.Encode(grid.TotalRowCount)</em></p>
