@{
    ViewBag.Title = "Lỗi tài khoản đăng nhập";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}

<h2>Lỗi!</h2>
<p>Tên tài khoản này đã tồn tại.</p>
<div class="goback">
    @Html.ActionLink("<<Quay lại", "Create")
</div>

