@model MusicStore.Models.BAIHAT

@{
    ViewBag.Title = "Detail";
}

<h2>@Model.TenBaiHat</h2>

<embed width="100%" height="100%" src="/MusicFiles/@Model.LinkDownload" type="audio/mpeg" fullscreen="yes"/>