@model MusicStore.Models.BANNICK

@{
    ViewBag.Title = "Bỏ bannick thành công";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}

<h2>Bỏ ban nick thành công</h2>
<p>Ðã bỏ bannick thành công người dùng.</p>
<p>
    Nhấn @Html.ActionLink("ở đây ", "Ban")để trở về trang quản lí tài khoản bị ban.
 </p>


