@{
    ViewBag.Title = "Deleted";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}

<h2>Deleted</h2>
<p>User was successfully deleted.</p>
<p>
    @Html.ActionLink("Click here", "Index")
    to return to the Users list.
 </p>

