@{
    ViewBag.Title = "Xóa thành công";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}

<h2>Xóa thành công</h2>
<p>Đã xóa thành công người dùng.</p>
<p>
    Nhấn @Html.ActionLink("ở đây ", "Index")để trở về trang quản lí người dùng.
 </p>

