@model IEnumerable<MusicStore.Models.NGUOIDUNG>
@{
    ViewBag.Title = "Quản lí người dùng";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
    var grid = new WebGrid(source: Model, canSort: true, canPage: true, rowsPerPage: 10);
}
<h2>
    Quản lí người dùng</h2>
<p>
    @Html.ActionLink("Thêm người dùng", "Create")
</p>
Tổng số người dùng hiện tại: @Html.Encode(grid.TotalRowCount)
<br />
@grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "paging-number",
    alternatingRowStyle: "webgrid-alternatingRow",
    rowStyle: "webgrid-row",
    columns: grid.Columns(
        grid.Column("TenNguoiDung", "Họ tên"),
        grid.Column("UserName", "Tên tài khoản"),
        grid.Column("Password", "Mật khẩu"),
        grid.Column("NgaySinh", "Ngày sinh"),
        grid.Column("NoiSong", "Nơi s"),
        grid.Column("MaLoaiNguoiDung", "Mã loại người dùng"),
        grid.Column("MaTinhTrangNguoiDung", "Mã tính trạng người dùng"),
        grid.Column(
            header: "",
            style: "",
            format: (item) => new HtmlString(Html.ActionLink("Sửa", "Edit", new { id = item.MaNguoiDung }).ToString() + " | " +
                                                Html.ActionLink("Xóa", "Delete", new { id = item.MaNguoiDung }).ToString())
        )
    )
)
@{
    if (!string.IsNullOrWhiteSpace(grid.SortColumn))
    {
    <script type="text/javascript">
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "^" : "v")');
    </script>
    }
}
