@{
    ViewBag.Title = "Chưa có playlist";
    Layout = "~/Views/Shared/LayoutGuest/_Layout.cshtml";
}

<h2>Bạn chưa tạo playlist</h2>
<p>
    @Html.ActionLink("Tạo Playlist", "Create")
</p>
