@{
    ViewBag.Title = "Chấp nhận bài hát thành công";
    Layout = "~/Views/Shared/LayoutAdmin/_Layout.cshtml";
}
<h2>
    Chấp nhận bài hát thành công</h2>
<p>
    Bài hát đã được xác nhận và từ bây giờ sẽ được xuất hiện trên trang chủ</p>
<p>
    Nhấn @Html.ActionLink("Ở đây", "Waiting") để quay về trang danh sách bài hát đang
    chờ.
</p>
